body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 12px;
  font-family: sans-serif;
}
img {
  border-radius: 12px;
  width: 320px;
}
.conteudo {
  display: flex;
  flex-direction: column;
  align-items: start;
}
pre {
  margin: 0px;
  font-size: 1.2rem;
}
