h5 {
  font-style: italic;
}
pre {
  font-style: italic;
  font-size: 1.1rem;
}
figure {
  display: inline-block;
  font-size: 0.7rem;
  margin: 5px;
}
img.poltrona {
  width: 24px;
  height: 16px;
}
.entre-letras {
  letter-spacing: 0.5;
}
.corFundo {
  background: #e3e3e3;
  border-radius: 4px;
}